<div class="container" ng-controller="GeoCtrl">
<div ng-controller="ModalCtrl"></div>
<div class="row">
<div class="col-xs-12" ng-init="getLocation()">

<div class="panel panel-default">
<div class="panel-heading app-panel">Forecast History <button class="btn btn-red btn-circle pull-right" ng-click="clearHistory()">Clear History</button></div>

<div class="list-group" ng-repeat="info in LoadWeather">

<div class="list-group-item weather-bag" style="overflow:hidden;">
<div class="col-xs-6">
<h3>{{info.location}} <span class="badge badge-mine">Ref ID: {{info.ref_id}}</span></h3>
<h4>{{info.description}}</h4>

<p class="meta info">{{info.weather}}&deg;<span>C</span></p>


</div>
<div class="col-xs-6">
<div class="sub-meta pull-right">
<h4>Humidity: {{info.humidity}}%</h4>
<h4>Wind: {{info.wind}}km/h</h4>
<h4 am-time-ago="info.date"></h4>
</div>
</div>

</div>


</div>


</div>


</div>
</div>
</div>






